body {
    font-family: 'Playfair';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

header {
    background-color: #ab0302;
    padding: 10px;
    font-size: 17px;
    font-family: sans-serif;
}

#logo {
    width: 300px;
    height: auto;
    margin-left: 150px;
}

nav {
    float: right;
    margin-top: 60px;
    margin-right: 120px;
}

nav li {
    display: inline-block; /* Make list items appear horizontally */
    margin-right: 15px; /* Adjust spacing between list items */
}

nav a{
    color: #fcfbfa;
    text-decoration: none;
}


#title {
    padding: 20px;
    margin-top: 50px;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 200px;
}

.text-container {
    display: block;
}

section h1 {
    font-size: 50px;
    text-align: center;
    font-family: sans-serif;
}



section h2 {
    font-size: 38px;
}

section p {
    font-size: 25px;
}


#about {
    width: 400px;
    height: auto;
}

footer {
    background-color:#ab0302;
    color: #fcfbfa;
    padding: 10px;
}

footer p {
    text-align: center;
}

a { /* hyperlink in footer */
    display: block;
    color: #fcfbfa;
    text-align: center;
}

#logo_foot {
    width: 300px;
    height: auto;
    margin-left: 150px;
    margin-top: -220px;
}

.social-media {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.social-media img {
    width: 30px;
    height: auto;
    margin: 0 10px;
}


.anim {
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}

@keyframes moveup {
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/*
.navbar {
    background-color: #ab0302;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle-btn {
    font-size: 20px;
    background: none;
    border: none;
    color: #fcfbfa;
    cursor: pointer;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-list li {
    margin-right: 20px;
}

.nav-list a {
    text-decoration: none;
    color: #fcfbfa;
    font-size: 18px;
}

.nav-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #ab0302;
    z-index: 1;
}
*/

/* Adjustments for mobile responsiveness */
@media screen and (max-width: 768px) {
    header {
        text-align: left;
    }

    #logo,
    nav {
        margin: 0;
    }

    nav {
        float: none;
        text-align: center;
    }

    nav li {
        display: block;
    }

    #title {
        margin-top: 20px;
        padding: 10px;
    }

    #text {
        margin-bottom: 20px;
    }

    section h1 {
        font-size: 30px;
    }

    section h2 {
        font-size: 24px;
        margin-left: 5%;
    }

    section p {
        font-size: 16px;
        margin-left: 5%;
       
    }

    #about {
        width: 100%;
  
    }

    footer {
        text-align: center;
    }

    #logo_foot {
        margin: 0 auto;
        margin-top: -10px;
    }

    .social-media {
        margin-top: 20px;
    }

    .flex-container {
        display: block;
    }

    /*
    .toggle-btn {
        display: block;
    }

    .nav-list.show {
        display: flex;
    }
    */
}