body {
    font-family: 'Playfair';
    margin: 0;
    padding: 0;
}

header {
    background-color: #ab0302;
    padding: 10px;
    font-size: 17px;
    font-family: sans-serif;
}

#logo {
    width: 300px;
    height: auto;
    margin-left: 150px;
}

nav {
    float: right;
    margin-top: 60px;
    margin-right: 120px;
}

nav li {
    display: inline-block; /* Make list items appear horizontally */
    margin-right: 15px; /* Adjust spacing between list items */
}

nav a{
    color: #fcfbfa;
    text-decoration: none;
}

section {
    padding: 20px;

}

#home {
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
}

.image-container {
    display: flex;
}

.image-item {
    width: 33.33%;
    box-sizing: border-box;
    text-align: center;
    pedding: 10px;
    margin-bottom: 100px;
}

.image-item img {
    width: 80%;
    height: 450px;
    object-fit: cover;
}

.image-container2 {
    display: flex;
}

.image-item2 {
    width: 50%;
    box-sizing: border-box;
    text-align: center;
    pedding: 10px;
    margin-bottom: 100px;
}

.image-item2 img {
    width: 53.33%;
    height: 450px;
    object-fit: cover;
}

div p2 {
    font-style: italic;
}

footer {
    background-color:#ab0302;
    color: #fcfbfa;
    padding: 10px;
}

footer p {
    text-align: center;
}

a { /* hyperlink in footer */
    display: block;
    color: #fcfbfa;
    text-align: center;
    text-decoration: none;
}

#logo_foot {
    width: 150px;
    height: auto;
    margin-left: 200px;
    margin-top: -100px;
}